<!doctype html>
<html lang="fr">
<head>
<meta charset="utf-8">
<title>Connexion</title>
<link rel="stylesheet" href="/assets/style/style.css">
<script src="https://unpkg.com/vue@3"></script>
<script src="/assets/js/auth.js"></script>
</head>


<body class="login-page">

  <div class="login-wrapper">
    <div id="app" class="login-card">

      <div class="login-header">
        <h2>STARBORD</h2>
        <p>Connectez vous pour accéder aux chapitres complets</p>
      </div>

      <div class="login-form">
        <div class="input-group">
          <input v-model="email" type="email" placeholder="Email">
        </div>

        <div class="input-group">
          <input v-model="password" type="password" placeholder="Mot de passe">
        </div>

        <button class="login-main-btn" @click="login">Se connecter</button>
        <p class="login-message">{{ message }}</p>
      </div>

    </div>
  </div>


<script>
Vue.createApp({
  data() {
    return {
      email: "",
      password: "",
      message: ""
    }
  },
  methods: {
    login() {
      if (this.email && this.password) {
        const fakeToken = "token_" + Math.random().toString(36).substring(2);
        Auth.login(this.email, fakeToken);
        this.message = "Connexion réussie !";
        setTimeout(() => window.location.href = "index.html", 1000);
      } else {
        this.message = "Remplis les champs";
      }
    }
  }
}).mount("#app");
</script>

</body>
</html>
